body {
  background-color: black;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  position: relative;
  top:172px;
  left: -212px;
  float: left;
}

.ryu{
	float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
}  

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

@font-face {
    font-family: Crimes;
    src: url('../css/crimes.ttf');
}

body{
	font-family: Crimes, cursive, sans-serif;
	font-size: 30px;
}

aside{
	position: absolute;
	width: 600px;
	top: 200px;
	left: 700px;
}

h1, h2{
	text-align: center;
	padding-bottom: 20px;
}

h1{
	
	font-size: 2em;
}

h2{
	
	font-size: 1.5em;
}

li{
	text-align: center;
	font-size: 1em;
	padding-bottom: 30px;
}
